<%- include('../partials/header') %>
<h2>2023/2024 Game Schedule</h2>
<table id="schedule">
    <thead>
        <tr>
            <th>Home Team</th>
            <th>Visiting Team</th>
            <th>Game Date</th>
        </tr>
    </thead>
    <tbody>
        <% games.forEach(g => { %>
            <tr>
                <td><%= g.homeTeam %></td><br>
                <td><%= g.visitingTeam %></td>
                <td><%= g.gameDate %></td><br>
                <td><a href="/games/<%= g._id %>">RESULTS</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>